.zoodb-preview-select-bar {
    display: flex;

    // .zoodb-preview-select-objecttype {
    //     flex: 1 120px;
    // }
    // .zoodb-preview-select-objectid {
    //     flex: 3 400px;
    // }
    .zoodb-preview-select-objecttypeandid {
        flex: 1 400px;
    }

}


.zoodb-preview-select-item-group-label {
    display: flex;
    align-items: left; //center;
    gap: 1em;
    //justify-content: space-between;
}
.zoodb-preview-select-item-group-label-badge {
    background-color: rgba(127,127,127,0.2);
    border-radius: 2em;
    display: inline-block;
    font-size: .9em;
    font-weight: normal;
    line-height: 1;
    padding: 0.2em 1em;
    text-align: center;
}


//
// fix dark mode colors of select boxes
//
.dark {

    .zoodb-preview-content {
        background-color: rgba(128, 128, 128, 0.05);

        .flm-error-message, span.error {
            display: block;
            color: rgb(255,130,120);
            background-color: rgba(80,0,0,0.3);
            padding: 1em;
        }
    }

    .zoodb-preview-react-select__control,
    .zoodb-preview-react-select__input-container,
    .zoodb-preview-react-select__single-value,
    .zoodb-preview-react-select__menu,
    .zoodb-preview-react-select__indicator
    {
        color: #fff; // var(--main-text-color);
    }

    .zoodb-preview-react-select__control,
    .zoodb-preview-react-select__menu,
    .zoodb-preview-react-select__indicator
    {
        background-color: #000; //var(--main-background-color);
    }

    .zoodb-preview-react-select__indicator-separator {
        background-color: #aaa; //var(--discreet-border-color);
    }
    .zoodb-preview-react-select__control {
        border-color: #555; //var(--boxedcontent-border-color);
    }
    .zoodb-preview-react-select__option {
        color: #fff; //var(--main-text-color);
        background-color: #000; //var(--main-background-color);
    }
    .zoodb-preview-react-select__option:hover {
        background-color: #777; //var(--text-dim-color);
        color: #fff; //var(--main-background-color);
    }
}

