.zoodb-preview-content
{
    padding: 0px;

    > article {
        padding: 25px 25px 25px 25px;
        margin: 0px auto;
        background-color: rgba(128,128,128,0.3);

        min-height: 67%;
    }

    .visual-highlight {
        background-color: rgba(127,127,0,0.5) !important;
        box-shadow: rgba(127,127,0,0.5) 0px 0px 10px;
        transition: background-color 0.4s;
    }

    .zoodb-preview-content-please-select-object {
        text-align: center;
        font-style: italic;
        opacity: 0.8;
    }
}

.zoodb-preview-messages {
    > p, > div {
        margin: 0px;
        padding: 1em 1em;
        font-size: 1.2rem;
        font-weight: bold;
    }
}

.zoodb-preview-messages, .zoodb-preview-content
{
    .flm-error-message, .error {
        display: block;
        color: rgb(110, 0, 0);
        background-color: rgba(255, 127, 127, 0.8);
        padding: 1em;
    }
    .info {
        display: block;
        color: rgb(0,0,127);
        background-color: rgb(180,180,255);
    }
    .small-caption {
        font-size: 1rem;
        font-weight: normal;
    }
    pre {
        white-space: pre-wrap;
        font-size: 1rem;
        line-height: 1.3em;
    }
    pre.small-caption {
        font-size: 0.9rem;
        line-height: 1.3em;
    }
}
