
.ZooDbPreviewComponent {

    border: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: max-content 1fr;
    grid-template-columns: 1fr 0fr;

    .zoodb-preview-select-bar {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .zoodb-preview-command-buttons {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .zoodb-preview-command-buttons {
        display: flex;
        > button {
            min-width: 40px;
        }
    }

    .zoodb-preview-content {
        overflow: auto;

        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .zoodb-preview-messages {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 3;
    }
}
